* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover{
    text-decoration: none;
    color: #333333;;
}


/*MENU İCONS*/
.icon-items li {
    list-style-type: none;
    float: left;
    padding-right: 25px;
}


/*STORY START*/
.card-body li {
    list-style-type: none;
    float: left;
    padding-right: 25px;
}

.story-img {

    width: 57px;
    height: 57px;
    border-radius: 100%;
    display: flex;
}

.card-body span {
    font-size: 10px;
}
/*STORY END*/


/*SAĞ TARAF START*/
.part-top span {
    font-size: 17px;
    font-weight: bold;
}

.part-top>img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
    margin-right: 20px;
}

.parts-img {
    border-radius: 100%;
    width: 25px;
}

.parts li {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    list-style-type: none;
}

.parts a {
    padding-left: 9px;
}

.parts .takip {
    padding-left: 2px;
    color: dodgerblue;
    font-size: 12px;
}

.part-footerlinks {
    text-decoration: none;
    color: lightgrey;
}

#sticky-sidebar {
    position: fixed;
}
/*SAĞ TARAF END*/


/*İÇERİK START*/
.middlearea {
    max-height: 200px !important;
}

.middlearea img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.middlearea a {
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
}

.card-middlearea li {
    list-style-type: none;
    float: left;
    padding: 7px 0px 7px 20px;
}

.content {
    margin-top: -10px;
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
}

.content img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.content a {
    font-weight: bold;
    text-decoration: none;
}

.content small {
    color: lightslategray;
}

.yorum a {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    color: dodgerblue;
}

.uc-nokta{
    float: right;
    padding-right: 10px;
    font-size: 23px;
    font-weight: bold;
    margin-top: -8px;;
}

/*İÇERİK END*/



